<%= render 'user_mailer/opening', user_name: @user.full_name %>

<p>
  <%= t('mailers.user.notify_follower_of_post_status_change.body_html', post: @post.title) %>:
</p>

<p style="margin: 32px auto; text-align: center;">
  <span style='color: white; border-radius: 10rem; padding: 0.5rem; background-color: <%= @post.post_status.color %>;'><%= @post.post_status.name.upcase %></span>
</p>

<p>
  <%= link_to t('mailers.user.learn_more'), get_url_for(method(:post_url), resource: @post) %>
</p>

<%= render 'user_mailer/closing' %>

<%= render 'user_mailer/unsubscribe_from_post', post: @post %>