<%= render 'user_mailer/opening', user_name: @user.full_name %>

<p>
  <%= t('mailers.user.notify_comment_owner.body', user: @comment.user.full_name, post: @comment.post.title) %>:
</p>

<p>
  <i><%= @comment.body %></i>
</p>

<p>
  <%= link_to t('mailers.user.learn_more'), add_subdomain_to(method(:post_url), @comment.post) %>
</p>

<%= render 'user_mailer/closing' %>

<%= render 'user_mailer/unsubscribe_from_site' %>