<%= render 'user_mailer/opening', user_name: @user.full_name %>

<p>
  <%= t('mailers.user.notify_post_owner.body_html', user: @comment.user.full_name, post: @comment.post.title) %>:
</p>

<%= render 'user_mailer/quoted_text', text: @comment.body %>

<p>
  <%= link_to t('mailers.user.learn_more'), get_url_for(method(:post_url), resource: @comment.post) %>
</p>

<%= render 'user_mailer/closing' %>

<%= render 'user_mailer/unsubscribe_from_post', post: @comment.post %>