<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <h2><%= t('common.forms.auth.resend_unlock_instructions') %></h2>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "sr-only" %><br />
    <%= f.email_field :email,
      autofocus: true,
      autocomplete: "email",
      placeholder: t('common.forms.auth.email') %>
  </div>

  <div class="actions">
    <%= f.submit t('common.forms.auth.resend_unlock_instructions'), class: "btn btn-dark btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
