<p><%= t('mailers.devise.opening_greeting', email: @resource.email) %></p>

<p><%= t('mailers.devise.reset_password.body') %></p>

<p>
  <%= link_to t('mailers.devise.reset_password.action'),
    add_subdomain_to(method(:edit_password_url), @resource, { reset_password_token: @token })
  %>
</p>

<p><%= t('mailers.devise.reset_password.body2') %></p>
<p><%= t('mailers.devise.reset_password.body3') %></p>
