<!DOCTYPE html>
<html>
  <head>
    <title><%= render 'layouts/page_title' %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= render 'layouts/set_js_locale' %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= favicon_link_tag @tenant.site_favicon.attached? ? @tenant.site_favicon.blob.url : asset_path('favicon.png') %>
  </head>

  <body>
    <% if @tenant and not @tenant.tenant_billing.has_active_subscription? and (user_signed_in? and current_user.owner?) %>
      <%= render 'layouts/no_active_subscription_banner' %>
    <% end %>

    <% if Rails.application.multi_tenancy? && @tenant && @tenant.subdomain == "feedback" %>
      <%= render 'layouts/promo_banner' %>
    <% end %>

    <% if @tenant %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <%= render 'layouts/alerts' %>
    
    <div class="container">
      <%= yield %>
    </div>

    <% if @tenant and not @tenant.tenant_setting.custom_css.blank? %>
      <style type="text/css">
        <%= @tenant.tenant_setting.custom_css %>
      </style>
    <% end %>

    <% if params[:tour] == 'true' && user_signed_in? && current_user.admin? %>
      <%= react_component('Tour/Tour', { userFullName: current_user.full_name }) %>
    <% end %>
  </body>
</html>
